<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

    
    <% categories.forEach(function (category) {%>
        <% if (category.id %2!=0) { %>
            <section class="section secondary-color-bg">
        <% }else{ %>
            <section class="section primary-color-bg">
        <% } %>
                <div class="centered-container">
                    <h1 class="decorated-title font-secondary main-color">
                        <span class="main-color-emphasized"><%=category.name%></span>
                        Inventory
                    </h1>
                    <div class="separator"></div>
                    <% if (category.inv.length == 0) {%>
                        <div class="centered-container">
                            <span class="photo-box-title font-secondary main-color">
                                No items in this category
                            </span>
                        </div>
                    <% } else { %>
                        <div class="gallery">
                            <% category.inv.forEach(function (item){%>
                                <div class="photo-box">
                                    <img class="photo-box-image" src=<%=item.imageurl%>></img>
                                    <div class="photo-box-title font-secondary main-color">
                                        <a href="/item/<%=item.id%>" class="link">
                                            <%=item.name%>
                                        </a>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    <% } %>
                </div>
            </section>
        <% }) %>

    

</main>

<%- include(`partials/footer`); %>

</body>

</html>