<!DOCTYPE html>
<html>

<%- include(`partials/head`); %>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">

    <section class="section secondary-color-bg">
        <div class="container">
            <div class="centered-container">
                <h1 class="decorated-title font-secondary main-color">
                    Item 
                    <span class="main-color-emphasized">Information</span>
                </h1>
                <div class="separator"></div>
            </div>
            <div class="item-view">
                <img class="item-view-image" src=<%=item.imageurl%>></img>
                <div class="item-view-text">
                    <div class="item-view-text-title font-secondary main-color-emphasized"><%=item.name%></div>
                    <hr>
                    <div class="item-view-text-property main-color">Price: <span class="item-view-text-value"><%=item.price%> kn</span></div>
                    <div class="item-view-text-property main-color">Available colors: <span class="item-view-text-value"><%=item.colors%></span></div>
                    <div class="item-view-text-property main-color">Category: <span class="item-view-text-value"><%=category.name%></span></div>
                    <div class="item-view-text-property main-color">Seasonal: <span class="item-view-text-value"><%=category.seasonal%></span></div>
                    <div class="item-view-text-desc font-secondary main-color"><%=category.description%></div>
                </div>
            </div>
        </div>
    </section>

</main>

<%- include(`partials/footer`); %>

</body>

</html>